extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Amanda Richardson, PhD, MS, CIHC


        p  Web Developer
        hr.aboutHr

        .about-bio

          p I'm a web developer dedicated to producing unique, functional, and accessible websites.
          
          p Prior to entering into web development, I earned a PhD from Johns Hopkins School of Public Health and worked at various places, including the National Institutes of Health, the U.S. Department of Health and Human Services, the truth Initiative and the University of North Carolina. I also earned several certifications in health coaching and worked as an independent coach and trainer for the coaching program at the Duke University Center for Health & Well-being. Additionally, I am a self-taught artist, with expertise in Photoshop, Illustrator, InDesign, Figma and other programs.
          
          p I draw on my prior experiences to assess needs, map out goals, brainstorm, collaborate, test, and integrate feedback in a timely way. Above all else, I believe in the power of technology to enhance lives and am excited about the many ways I can contribute to building life-affirming projects.



      .skills-contact-box.box
        h6 Skills
    
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

     
        ul
          li 410-905-8612
          li amanda.richardson2@gmail.com

       
        a.btn-link(href='https://github.com/aelizabethian') GitHub


    nav.nav
      a(href='/')
        span &larr;
        |  Back