extends layout.pug

block content
  div.errorPage
    h1  Sorry, we've encountered an error.
    h2= `We've encountered a ${err.status} error`
    p  Details of the error are below.
    div.errMsg
      pre #{err.stack}


    a.backHome(href='/') HOME
